<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.apanda.base">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Module.Gank.activity.StartupActivity"
            android:theme="@style/AppTheme.Launcher"
            android:windowDisablePreview="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Widget.imagePager.BigImagePagerActivity"/>
        <activity android:name=".Module.Gank.activity.HomeActivity"/>
        <activity android:name=".Module.Gank.activity.SignupActivity"/>
        <activity
            android:name=".Module.Gank.activity.MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Module.Gank.activity.CategoryActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Module.Gank.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Widget.WebviewActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Module.Gank.activity.HistoryActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Module.Gank.activity.HistoryListActivity"/>
        <activity android:name=".Module.Gank.activity.HistoryTodayActivity"/>
        <activity android:name=".Module.Gank.activity.HuabanGirlActivity"/>
        <activity android:name=".Module.Gank.activity.BeautyActivity"/>
        <activity
            android:name=".Module.Gank.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".base.BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apanda.base.base.BaseActivity"/>
        </activity>
        <activity
            android:name=".Module.Gank.activity.HomeKotAct"
            android:label="@string/title_activity_home_kot"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>